<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include ('layout') %> 
    <div class="container">
      <div class="jumbotron bg-light">
        <h1 class="display-4">E-Learning System</h1>
        <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil placeat odit nemo similique, dolorem, beatae minima iure eaque aliquid optio, adipisci tenetur! Beatae deleniti harum commodi distinctio ut assumenda sunt?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis cupiditate fugit minima iure aliquid cumque quae rerum nulla eligendi iste ipsum ea ex nemo enim quasi accusantium, dignissimos nam?</p>
        <a href="/users/register" class="btn btn-success btn-lg" role="button">สมัครเรียน</a>
      </div>
      <h3 align="center">คอร์สเรียน</h3>
      <% if (locals.classes) { %>
      <div class="row">
        <% Object.values(classes).forEach(function(classed) {%>
          <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= classed.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><%= classed.instructor %></h6>
                <p class="card-text"><%= classed.description %></p>
                <a href="#" class="btn btn-primary">เข้าเรียน</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    <% } %>
  </div>
</body>
</html>